p {
  color: black;
}


.side-bar {
  background-color: #d9d9d9;
  width: 16%;
  height: 46.5rem;
  padding: 0.5rem;
}

.accounts {
  background-color: #d9d9d9;
  width: 90%;
  height: 35rem;
  padding: 2.5rem;
  font-family: "Inter", sans-serif
}

.menu {
  width: 90%;
}

.cont {
  padding: 3rem 7rem;
  height: 88vh;
}

.form-check {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  color: black;
  margin-top: 2rem;
}

.form-check-input:checked {
  background-color: #83289d;
  border-color: white;
}

.form-check-input:focus {
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(131, 40, 157, 0.25);
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='5' fill='%238600ff' /%3e%3c/svg%3e");
}

.form-switch .form-check-input {
  --bs-form-switch-bg: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="-4 -4 8 8"%3e%3ccircler="3"fill="rgba%280, 0, 0, 0.25%29"/%3e%3c/svg%3e
  );
  width: 2em;
  margin-left: -2.5em;
  background-image: var(--bs-form-switch-bg);
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}

.menu-button {
  height: 10rem;
  width: 10rem;
}

i {
  font-size: 1.25rem;
}

.account-arrow:active {
  border: 0px transparent;
}

.item-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  margin-bottom: 0px;
}


.button {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.2);
    text-decoration: none !important;
    color: black !important;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 19px;
    padding: 10px 20px;
    margin: 0 3px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    height: 9.5rem;
}
.button:active {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
}
.button-purple {
    background: white;
    box-shadow: -8px 10px 0 #771093,
                0 11px 5px hsla(0, 0%, 0%, 0.5);
}
.button-purple:active {
    box-shadow: 0 3px 0 #8e29a7,
                0 4px 6px hsla(0, 0%, 0%, 0.7);
}

.accordion {
  --bs-accordion-border-color: white;
  --bs-accordion-active-bg: white;
}

.accordion-item {
  color: white;
  background-color: rgba(240, 240, 240, 0.9);
  border: 2px solid rgb(240, 240, 240);
}

h4 {
  color: black;
}

ins {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.progress, .progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: rgb(210,210,210);
  --bs-progress-border-radius: var(--bs-border-radius);
  --bs-progress-box-shadow: var(--bs-box-shadow-inset);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #75258b;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: var(--bs-progress-height);
  overflow: hidden;
  font-size: var(--bs-progress-font-size);
  background-color: var(--bs-progress-bg);
  border-radius: var(--bs-progress-border-radius);
}