<div class="container">
  <div
    style="
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    "
  >
    <img src="../../../assets/EBV_Logo2.png" alt="" width="40%" class="logo" />
    <div class="loginForm d-flex justify-content-center mx-auto">
      <div>
        <h1 class="mt-5 title d-block">Iniciar Sesión</h1>
        <div class="form-outline mt-4 d-flex justify-content-between">
          <p class="d-inline-block me-3" style="width: 30%;">
            Número de cliente o tarjeta de crédito
          </p>
          <input
            type="text"
            style="height: min-content;"
            class="form-control d-inline-block input-login shadow"
          />
        </div>
        <div class="form-outline mt-4 d-flex justify-content-between">
          <p class="d-inline-block me-3">Contraseña</p>
          <input
            type="password"
            class="form-control d-inline-block input-login shadow"
          />
        </div>
        <div class="d-flex justify-content-end mt-5">
          <button type="button" class="btn btn-primary button-login shadow">
            Iniciar sesión
          </button>
        </div>
      </div>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
    </div>
  </div>
</div>
