<div class="m-5">
    <h3>Pago de servicio</h3>
    <div class="mt-4">
        <div>Introduzca el código de barras/referencia de pago:</div><input
        type="number"
        class="form-control mt-2"
        placeholder="Ejemplo; 000000000001"
        formControlName="amount"
      />
    <div class="mt-4">
        <div>Cantidad a pagar:</div><input
        type="number"
        class="form-control mt-2"
        placeholder="$0.00"
        formControlName="amount"
      />
      
        <button class="btn">Pagar</button>
    </div>
  </div>