.contenedorPrincipal {
  font-size: 28px;
  padding: 3rem 6rem;
  color: #75258b;
  font-family: Inter;
  font-weight: 700;
}

.contenedorPrincipal img {
  width: 40px;
  height: 40px;
}

.contenedorSwitch {
  width: 95%;
  height: 100%;
  background: #d9d9d9;
  border-radius: 10px;
  padding: 3rem;
}

.form-check-input + .form-check-label {
  position: relative;
  padding-left: 45px; /* espacio para el diseño personalizado del radio */
  font-size: 26px; /* tamaño de la fuente de la etiqueta */
  color: black; /* color de la etiqueta */
  cursor: pointer;
}

.form-check-input + .form-check-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; /* tamaño del diseño personalizado del radio */
  height: 30px;
  border: 2px solid white; /* color del borde del diseño personalizado del radio */
  background-color: white;
  border-radius: 50%; /* hace que sea circular */
}

.fecha {
  color: #585662;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  padding-left: 45px;
}

.form-check-input:checked + .form-check-label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px; /* tamaño del punto interno cuando está seleccionado */
  height: 22px;
  background-color: #75258b; /* color del punto interno cuando está seleccionado */
  border-radius: 50%; /* hace que sea circular */
}

.consultar {
  width: 15rem;
  height: 4rem;
  background: #75258b;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
}

.form-check {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  color: black;
  margin-top: 2rem;
}

.form-check-input:checked {
  background-color: #83289d;
  border-color: white;
}

.form-check-input:focus {
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(131, 40, 157, 0.25);
}

.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='5' fill='%238600ff' /%3e%3c/svg%3e");
}
