<div class = "mainContainer p-3">
    <br>
    <div class = title>
        Inversiones
    </div>
    <div class = subContainer>
        <div class="balance">
            $14,000.00
        </div>
        <div class="balanceMessage">Saldo Actual</div>
        <div class="dailyInvBalance">$12.17</div>
        <div class="dailyInv">Rendimiento diario</div>
        <button class="nuevaInversion" (click)="newInvestment()">
            Nueva inversión
        </button>
        <div class = "subTitle">Inversiones Actuales</div>
                <div *ngFor="let item of investments; let i = index" class="mt-5 me-5 ">
                    <span class="currentInvestments">{{item.name + ' ' + i}}</span>
            </div>
        <div class="historial">Historial de inversiones<div>12/09/2022</div><div>08/04/2022</div><div>01/11/2022</div></div>
        
            <div class="totalBalanceAfter">Total al finalizar inversiones: $16,371.34</div>
    </div>
    <div class="form-check form-switch switch" style="z-index: -1">
        <input class="form-check-input" type="checkbox" (change)="change()" />
        <label *ngIf="!mode">Modo simple</label>
        <label *ngIf="mode">Modo detallado</label>
      </div>
</div>