<div class = mainContainer>
    <br>
    <div class = title>
        Inversiones
    </div>
    <div class = subContainer>
        <button class="nuevaInversion">
            Nueva inversión
        </button>
        <div class = subTitle>Inversiones Actuales</div>
            <div class = dineroInversion>$950.00</div>
            <img src="../../../assets/stocksss.svg" alt="">
        <div class="container mt-5">
            <div class="row">
                <div class="col-6">
                    <div class = textContainer>
                        <div style="color: #585662; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Ventajas</div>
                        <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur optio, exercitationem, tenetur laboriosam repudiandae culpa illo, nihil quidem asperiores doloremque tempora. Asperiores, doloribus. Ab doloremque aspernatur autem quibusdam nisi atque.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <p>Modo simple aqui</p>
</div>