<div class="container">
    <h1>Saldos y Movimientos <img src="../../../assets/Vector.png" alt="Icono" class="title-icon"></h1>
    <div class="options">
        <button
        type="button"
        class="btn btn-primary button-saldos shadow"
      >Todos</button>
      <button
      type="button"
      class="btn btn-primary button-saldos shadow"
    >Ingresos</button>
    <button
        type="button"
        class="btn btn-primary button-saldos shadow"
      >Egresos</button>
    <div class="saldos-box">
        <img src="../../../assets/Tarjeta.png" alt="ImagenTarjeta" id="ImagenTarjeta">
        <div class="saldo-actual">
        <div style="width: 100%; text-align: center"><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">CUENTA<br/></span><span style="color: black; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">12***3456</span></div>
        <div style="width: 100%; height: 100%; text-align: center"><span style="color: #5563E5; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word">100,000.00 </span><span style="color: #5563E5; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word">MXN</span></div>
        <div style="width: 100%; height: 100%; text-align: center; color: #B889C5; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">Saldo Actual</div>
        </div>
    
      </div>
      <li>
    <div style="width: 100%; height: 100%; color: white; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word"><img src="../../../assets/Lista.svg">            Lunes 01 de octubre 2023</div>
    <br><img src="../../../assets/innn.svg"><div style="width: 234px; height: 34px; background: #F5F5F5; border-radius: 10px" class="cuadros"> 
      <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word" class="textoU">PayPal</span>
      <span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">      
      </span><span style="color: #585662; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word" class="cantidades">$200.00</span>
      
      
    </div><br>

    <img src="../../../assets/outt.svg"><div style="width: 234px; height: 34px; background: #F5F5F5; border-radius: 10px" class="cuadros">
        <span style="color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word"class="textoU">Despensa</span>
        <span style="color: black; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">      
        </span><span style="color: #585662; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word" class="cantidades2">$950.00</span>
      </div>
    <div style="width: 100%; height: 100%; color: white; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word"><img src="../../../assets/Lista.svg">            Domingo 30 de septiembre 2023</div>
  <br>
  </li>
  </div>
</div>