<div class="container">
    <h1>Saldos y Movimientos <img src="Images/Saldos.jpeg" alt="Icono" class="title-icon"></h1>
    <div class="options">
        <button
        type="button"
        class="btn btn-primary button-saldos shadow"
      >
        Todos
      </button>
      <button
      type="button"
      class="btn btn-primary button-saldos shadow"
    >
      Ingresos
    </button>
    <button
        type="button"
        class="btn btn-primary button-saldos shadow"
      >
        Egresos
      </button>
      <div class="container-fluid">
            Saldos
      </div>
        <div class="balance" id="balanceDiv">
            Saldo actual: <span>$1000.00</span>
        </div>
        <div class="date">
            Fecha:
            <div class="date-balance">$500.00</div>
            <div class="date-balance">$-300.00</div>
        </div>
    </div>
</div>